body {
    justify-content: start;
}

main {
    display: grid;
    grid-template: 6em 1fr / 1fr 1fr;
    max-width: 1000px;
    width: 100%;
}

main > label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 1em;
    flex: 1;
    color: #777;
}

main > label input {
    display: none;
}

main > label:has(input:checked) span {
    text-decoration: underline;
    color: white;
}

main > label#tab-groups:has(input:checked) ~ #groups-schedule {
    display: flex;
}
main > label#tab-knockouts:has(input:checked) ~ #knockouts-schedule {
    display: flex;
}

main > div {
    grid-column: 1 / span 2;
}

#groups-schedule,
#knockouts-schedule {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    gap: 2rem;
}

.schedule {
    width: 100%;
    background-color: #777;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.25rem;
}

.schedule .header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ddd;
    padding: 10px;
    gap: 1em;
    text-align: center;
}

.schedule .header .right {
    margin-left: auto;
}

.schedule .header .timezone {
    height: 100%;
    font-size: 0.85em;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #777;
}

.schedule .header .timezone label input[type="checkbox"] {
    display: none;
}

.schedule .header .timezone label {
    display: flex;
    cursor: pointer;
}

.schedule .header .timezone label span {
    padding: 0.5em;
    background-color: #777;
    transition: background-color 0.25s ease;
    user-select: none;
}

.schedule .header .timezone label span.local::after {
    content: "Localtime";
    display: block;
    height: 1rem;
}

.schedule .header .timezone label span.utc::after {
    content: "UTC";
    display: block;
    height: 1rem;
}

.schedule .header .timezone label span:nth-child(2),
.schedule .header .timezone label:has(input:checked) span:nth-child(3) {
    background-color: #ddd;
}

.schedule .header .timezone label:has(input:checked) span:nth-child(2) {
    background-color: #777;
}

.schedule .table {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.schedule .table .table-head,
.schedule .table .table-data {
    display: grid;
    grid-template: 1fr / 1fr 1fr 2fr 1.5fr 0.5fr;
}

.schedule.knockout .table .table-head,
.schedule.knockout .table .table-data {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1.5fr 0.5fr;
}

.schedule .table .table-head {
    position: relative;
    z-index: 2;
    align-items: center;
    justify-items: center;
}

.schedule .table .row {
    display: contents;
}

.schedule .table .row > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.schedule .table .row a {
    color: #000;
}

.schedule .table .table-head .head {
    width: 100%;
    text-align: center;
    min-height: 0;
    padding: 0.5em;
    font-size: 0.85em;
    border-bottom: 2px solid #999;
}

.schedule .table .table-data .icon {
    width: 1.5em;
    min-width: 1.5em;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.schedule .table .row:nth-child(even) > * {
    background-color: #ccc;
}

.schedule .table .row:hover > * {
    background-color: #eee;
}

.schedule .table .matchup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule .table .matchup-vs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-grow: 1;
    font-size: 0.75em;
    color: #777;
}

.schedule .table .matchup-vs hr {
    display: block;
    border: none;
    border-bottom: 2px solid black;
    border-bottom-color: inherit;
    width: 3em;
}

.schedule .table .matchup-team {
    text-align: center;
    font-size: 0.85em;
    line-height: 1.5;
}

.schedule .table .matchup-team a.winner {
    font-weight: bold;
}

.schedule .table .matchup-team .icon {
    vertical-align: middle;
}

.schedule .table .matchup-team .rolled {
    position: relative;
    top: 2px;
    cursor: help;
}
.schedule .table .matchup-exhibition {
    padding-top: 0.5em;
    font-size: 0.85em;
}

.schedule .table .results {
    display: grid;
    grid-template: 1.5fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.schedule .table .results a {
    width: 2.5em;
    height: 2.5em;
}

.schedule .table .results img.game {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.schedule .table .results img.game.empty {
    image-rendering: pixelated;
    filter: grayscale(100%);
}

.schedule .table label.expand input {
    display: none;
}

.schedule .table label.expand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
}

.schedule .table label.expand i {
    transition: transform 0.5s ease;
}

.schedule .table label.expand:has(input:checked) i {
    transform: rotateZ(135deg);
}

.schedule .table .details {
    font-size: 0.85em;
    line-height: 1.5;
    grid-column: 1 / span 5;
    text-align: center;
    max-height: 0px;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.25s linear;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.schedule .table label.expand:has(input:checked) + .details {
    max-height: 20em;
}

.schedule .table .details .details-match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 100%;
    padding: 1em;
    position: relative;
    background-color: #ddd;
}

.schedule .table .details .details-match > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) opacity(0.1) blur(1px);
}

.schedule .table .details .details-match > p {
    position: relative;
}

.schedule .table .details .details-match .details-user {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    position: relative;
}

.schedule .table .details .details-match .details-user ra-userpic {
    height: 100%;
    border: 2px white solid;
    border-radius: 50%;
}

.schedule .table .details .details-match .details-user a {
    display: block;
    margin: 0;
    padding: 0;
    color: unset;
    text-decoration: none;
}

.schedule .table .details .details-match .details-user a:hover {
    text-decoration: underline;
}

.schedule .table .details .details-match .details-user span {
    font-size: 1.5em;
}

.schedule .table .more-left,
.schedule .table .more-right {
    display: none;
}

@media (max-width: 700px) {
    /* disable details on mobile for now */
    .schedule .table label.expand,
    .schedule .table .details,
    .schedule .table span.head:nth-child(5) {
        display: none;
    }

    main > label {
        font-size: 1.5em;
    }

    .schedule .table {
        position: relative;
        flex-direction: row;
    }

    .schedule .table .table-head,
    .schedule .table .table-data {
        grid-template: 1fr 1fr 2fr 1.5fr / 1fr;
    }

    .schedule.knockout .table .table-head,
    .schedule.knockout .table .table-data {
        display: grid;
        grid-template: 1fr 2fr 1.5fr / 1fr;
    }

    .schedule .table .table-head {
        width: 100px;
        left: 0px;
        z-index: 1;
        background-color: #ddd;
        grid-auto-flow: row;
    }

    .schedule .table .table-head .head {
        width: 100px;
        font-size: 0.75em;
        padding: 0.5em;
        border-bottom: none;
    }

    .schedule .table .table-data {
        grid-auto-flow: column;
        overflow-x: auto;
        z-index: 0;
    }


    .schedule .table .row > * {
        width: 240px;
    }

    .schedule .table .hosts {
        flex-direction: row;
    }

    .schedule .table .results img.game {
        width: auto;
        height: 100%;
        max-height: 4em;
    }

    .schedule .table .more-left,
    .schedule .table .more-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 1 / span 5;
        background-color: #ddd;
        overflow: hidden;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        width: 1em;
        height: 100%;
        z-index: 1;
    }

    .schedule .table .more-left {
        left: 100px;
        border-right: 2px solid #999;
    }

    .schedule .table .more-right {
        right: 0px;
        border-left: 2px solid #999;
    }
}

@media (max-width: 500px) {
    .schedule .header .timezone label span.local::after {
        content: "L";
    }

    .schedule .header .timezone label span.utc::after {
        content: "U";
    }
}
