#schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.schedule {
    width: 100%;
    background-color: #777;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 0;
    font-size: 1.25rem;
}

.schedule .header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ddd;
    padding: 1rem 1rem;
}

.schedule .header span {
    font-size: 1.5em;
    padding-right: 20px;
}

.schedule .table {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.schedule .table .table-head,
.schedule .table .table-data {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 1.5fr;
}

.schedule .table .table-head {
    position: relative;
    z-index: 2;
    align-items: center;
    justify-items: center;
}

.schedule .table .row {
    display: contents;
}

.schedule .table .row > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.schedule .table .table-data .icon {
    width: 1.5em;
    min-width: 1.5em;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.schedule .table .table-head span {
    text-align: center;
    min-height: 0;
    padding: 0.5em;
}

/* .schedule .table .table-head span:nth-child(4) {
    padding-left: 2em;
} */

.schedule .table .row:nth-child(even) > * {
    background-color: #ccc;
}

.schedule .table .row:hover > * {
    background-color: #eee;
}

.schedule .table .hosts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.schedule .table .hosts > ra-userpic {
    width: 2.5em;
    border: 4px white solid;
    box-shadow: 0 5px 10px #999;
}

.schedule .table .matchup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule .table .matchup-vs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-grow: 1;
    font-size: 0.75em;
    color: #777;
    /* margin-left: 2.5em; */
}

.schedule .table .matchup-vs hr {
    display: block;
    border: none;
    border-bottom: 2px solid black;
    border-bottom-color: inherit;
    width: 3em;
}

.schedule .table .matchup-team {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.schedule .table .matchup-team .icon {
    margin-left: -2em;
}

.schedule .table .matchup-team span {
    text-align: center;
}

.schedule .table .results {
    display: grid;
    grid-template: 1.5fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.schedule .table .results img.game {
    width: 75%;
    max-width: 2.5em;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.schedule .table .results img.game.empty {
    image-rendering: pixelated;
    filter: grayscale(100%);
}

.schedule .table .more-left,
.schedule .table .more-right {
    display: none;
}

@media (max-width: 700px) {
    .schedule .table {
        position: relative;
        flex-direction: row;
    }

    .schedule .table .table-head,
    .schedule .table .table-data {
        grid-template: 1fr 1fr 1fr 2fr 1.5fr / 1fr;
    }

    .schedule .table .table-head {
        width: 100px;
        left: 0px;
        z-index: 1;
        background-color: #ddd;
        grid-auto-flow: row;
    }

    .schedule .table .table-data {
        grid-auto-flow: column;
        overflow-x: auto;
        z-index: 0;
    }

    .schedule .table .head {
        width: 100px;
        font-size: 0.75em;
        padding: 0.5em;
    }

    .schedule .table .table-head span:nth-child(4) {
        padding-left: 0.5em;
    }

    .schedule .table .row > * {
        width: 240px;
    }

    .schedule .table .hosts {
        flex-direction: row;
    }

    .schedule .table .results img.game {
        width: auto;
        height: 100%;
        max-height: 4em;
    }

    .schedule .table .more-left,
    .schedule .table .more-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 1 / span 5;
        background-color: #ddd;
        overflow: hidden;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        /* min-width: 1em; */
        width: 1em;
        height: 100%;
        z-index: 1;
    }

    .schedule .table .more-left {
        left: 100px;
        border-right: 2px solid #999;
    }

    .schedule .table .more-right {
        right: 0px;
        border-left: 2px solid #999;
    }
}
