.hero {
    grid-template-columns: 1fr;
}

#schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.schedule {
    width: 100%;
    background-color: #fff5;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 0;
}

.schedule .header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fffb;
    padding: 1rem 1rem;
}

.schedule .header span {
    font-size: 1.5em;
    padding-right: 20px;
}

.schedule .table {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 1.5fr;
    background-color: #fffb;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.schedule .table .row {
    display: contents;
}

.schedule .table .row > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100px;
}

.schedule .table .head {
    text-align: center;
    min-height: 0;
}

.schedule .table .row:nth-child(even) > * {
    background-color: #fff6;
}

.schedule .table .row:hover > * {
    background-color: #fffb;
}

.schedule .table .hosts {
    display: flex;
    flex-direction: column;
}

.schedule .table .hosts > ra-userpic {
    border: 4px white solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.schedule .table .matchup {
    display: flex;
    flex-direction: column;
}

.schedule .table .matchup-team {
    display: flex;
    align-items: center;
}

.schedule .table .matchup-team img {
    width: 2em;
    height: 2em;
    object-fit: contain;
    margin-left: -2em;
    margin-right: 10px;
}

.schedule .table .results {
    display: grid;
    grid-template: 2fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* gap: 10px; */
}

.schedule .table .results img {
    width: 2em;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.schedule .table .results img.game {
    width: 75%;
    object-fit: cover;
}
