body {
    justify-content: start;
}

main {
    display: grid;
    grid-template: 6em 1fr / 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    padding: 0 1em 1em 1em;
}

main > label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 1em;
    flex: 1;
    color: #777;
    user-select: none;
}

main > label input {
    display: none;
}

main > label:has(input:checked) span {
    text-decoration: underline;
    color: white;
}

main > label#tab-groups:has(input:checked) ~ #groups-standings {
    display: flex;
}
main > label#tab-knockouts:has(input:checked) ~ #knockouts-bracket {
    display: flex;
}

main > div {
    grid-column: 1 / span 2;
}

#groups-standings,
#knockouts-bracket {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#knockouts-bracket {
    background-color: #777;
    max-width: 1000px;
    justify-self: center;
    border-radius: 8px;
    padding: 1em;
}

.group {
    background-color: #777;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    font-size: 1.25rem;
    width: 550px;
}

.group .header {
    width: 100%;
    background-color: #ddd;
    padding: 0.5em;
    font-size: 1.25em;
}

.group .table {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px;
    overflow: auto;
}

.group .table .row {
    display: contents;
}

.group .table .row > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    gap: 0.5em;
}

.group .table .row:nth-child(even) > * {
    background-color: #ccc;
}

.group .table .row:hover > * {
    background-color: #eee;
}

.group .table .row .team {
    font-size: 0.85em;
}

.group .table .row .team .icon {
    width: 1.5em;
    min-width: 1.5em;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.group .table .row .team a {
    color: black;
}

.group .table .row .team a:hover {
    text-decoration: underline;
}

.group .table .row .points {
    font-size: 1.25em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .group {
        font-size: 1rem;
    }
}

@media (max-width: 460px) {
    .group .table .row .team {
        justify-content: start;
    }
}
