main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.group {
    background-color: #777;
    border-radius: 10px;
    overflow: hidden;
    margin: 1em;
    font-size: 20px;
    max-width: 500px;
}

.group .header {
    width: 100%;
    background-color: #ddd;
    padding: 0.5em;
    font-size: 1.25em;
}

.group .table {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px;
    overflow: scroll;
}

.group .table .row {
    display: contents;
}

.group .table .row > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.group .table .row:nth-child(even) > * {
    background-color: #ccc;
}

.group .table .row:hover > * {
    background-color: #eee;
}

.group .table .row .icon {
    width: 1.5em;
    min-width: 1.5em;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.group .table .row .team p span {
    color: #777;
}

.group .table .row .points {
    font-size: 1.25em;
    font-weight: bold;
}

@media (max-width: 500px) {
    .group {
        font-size: 16px;
    }
}
