#teams-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    max-width: 1300px;
    gap: 2rem;
    padding-top: 1rem;
}

.teamgroup {
    width: 100%;
    padding: 1rem;
}

.teamgroup .teams {
    display: flex;
    gap: 2rem;
}

.teamgroup .card {
    aspect-ratio: 4 / 6;
    flex: 1;
}

.teamgroup#groupA .card {
    aspect-ratio: 3 / 5;
    flex: 1;
}

.teamgroup#groupA .card-back p {
    font-size: 1em;
}

.teamgroup > h1 {
    color: #fff;
    grid-column: 1 / span 4;
    border-bottom: 2px white solid;
    margin-bottom: 2rem;
}

.teamgroup .card-back {
    padding: 5% 15%;
}

.teamgroup .card-back > h2 {
    font-weight: normal;
    text-align: center;
    min-height: 2em;
}

.teamgroup .card-back > img {
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.teamgroup#groupA .card-back > img {
    width: 80px;
}

.teamgroup .card-back .teamlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    align-self: stretch;
}

.teamgroup .card-back .user {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.teamgroup .card-back .user > ra-userpic {
    width: 100%;
    grid-column: 1;
    border: 4px white solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.teamgroup .card-back .user > p {
    grid-column: 2 / span 2;
    font-size: 1.15em;
    text-align: center;
}

@media (max-width: 1300px) {
    .teamgroup .card {
        width: 100%;
        height: auto;
    }

    .teamgroup .card,
    .teamgroup#groupA .card {
        aspect-ratio: 5 / 3;
    }

    .teamgroup#groupA .card-back .user > p {
        font-size: 1.15em;
    }

    .teamgroup {
        grid-template-columns: 1fr;
        grid-template-rows: 36px repeat(4, 1fr);
        width: 100%;
        max-width: 500px;
    }

    .teamgroup .teams {
        flex-direction: column;
    }

    .teamgroup > h1 {
        grid-column: 1;
    }

    .teamgroup .card-back {
        flex-direction: row;
        padding: 5%;
    }

    .teamgroup .card-back > h2 {
        display: none;
    }

    .teamgroup#groupA .card-back > img {
        width: 100px;
    }

    .teamgroup .card-back .teamlist {
        align-self: center;
        gap: 1rem;
        margin-left: 1rem;
    }

    .teamgroup .card-back .user {
        grid-template-columns: repeat(5, 1fr);
    }

    .teamgroup .card-back .user > p {
        grid-column: 2 / span 4;
    }
}
