#volunteers-container {
	display: flex;
	align-items: center;
	justify-content: center;
	container-type: size;
	width: 100%;
	flex: 1;

}

.wheel {
    position: relative;
	width: 80cqmin;
	height: 80cqmin;
    border: 2px solid #fff;
    border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	container-type: size;
}

.wheel .icon {
	--size: 14cqmin;
    position: absolute;
	top: calc(-1 * (var(--size) / 2));
	left: calc(50% - (var(--size) / 2));
	height: calc(50% + (var(--size) / 2));
    transform: rotate(calc(360deg / var(--n) * var(--i)));
    transform-origin: bottom center;
    z-index: 100;
    overflow: hidden;
}

.wheel .icon.active {
    box-shadow: 0 0 0 4px #222 0 0 0 12px #ff1d50;
}

.wheel .icon img {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid #fff;
    transform: rotate(calc(-360deg / var(--n) * var(--i)));
    filter: grayscale(1);
    transition: filter 0.5s ease;
}

.wheel .icon img:hover {
    filter: grayscale(0);
}

.wheel .card {
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    width: 40cqmin;
    transform: scale(0);
    transition: transform 0.25s ease;
    z-index: 9999;
}

.wheel .card.active {
	transform: scale(1);
}

.wheel .card ra-userpic {
    border-radius: 0;
    width: 100%;
}

.wheel .card .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    gap: 0.25em;
}

.wheel .card .text a {
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
}
