section{
    padding: 0 3%;
    transition: .2s;
}
.hero-text{
    padding-top: 115px;
}
.hero-img{
    text-align: center;
}
.hero-img img{
    width: 560px;
    height: auto;
}
.hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.scroll-down{
    display: none;
}
td img {
    width: auto;
    height: auto;
    max-width: 36px;
    max-height: 36px;
    object-fit: cover;
    border-radius: 0%;
}