*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', cursive;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 33px 9%;
    background-color: transparent;
    backdrop-filter: blur(0.3rem) brightness(95%);
}

.logo {
    position: fixed; /* Set the position to fixed */
    top: 0; /* Position it at the top of the viewport */
    left: 10px; /* Position it at the left of the viewport */
    z-index: 9999; /* Optional: Adjust the z-index as needed to control stacking */
    padding: 20px; /* Optional: Add padding for spacing */
}

.logo img {
    width: 100px; /* Set the width to the desired size for your icon */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

.navlist{
    display: flex;
    margin-left: auto;
    z-index: 9999;

}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color:white;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #36393f 0%, #242629 38.53%, #050505 68.52%, #050505 100%);
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /*display: inline;*/
}

.hero-main-page {
    grid-template-columns: repeat(2, 1fr);
}

section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-family: 'Pixelify Sans', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 700px;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #36393f;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #36393f;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition:  .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}

@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}

/*!!!!!!!!!!!!!!! THIS NEXT SECTION COVERS ABOUT.HTML!!!!!!!!!!!!!!!!!*/

.team {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.team .icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.team .icon .imgBx {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222 0 0 0 6px #fff;
    transform: rotate(calc(360deg/17 * var(--i) + 90deg - 360deg/17));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
}

.team .icon .imgBx.active {
    box-shadow: 0 0 0 4px #222 0 0 0 12px #ff1d50;
}

.team .icon .imgBx img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/17 * var(--i) - 90deg + 360deg/17));
    transition: 0.5s;
    filter: grayscale(1);
}

.team .icon .imgBx.active img {
    filter: grayscale(0)
}

.teamcontent {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.contentBx .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.contentBx .card .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 0px;
    overflow: hidden;
}

.contentBx .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx .card .textBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBx .card .textBx h2 {
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.contentBx .card .textBx h2 span {
    font-size: 0.65em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/* !!!!!!!!!!!!!! FAQ STYLE CSS !!!!!!!!!!!!!!!!!!!!!*/

.c-faq__answer {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.section__headline {
  font-family: "Varela Round", sans-serif;
  font-size: 62px;
  font-weight: light;
  color: #1e88e5;
  padding-left: 15px;
  padding-top: 30px;
}

.c-faqs__headline {
  font-family: "Varela Round", sans-serif;
  text-align: left;
  padding-left: 15px;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: bold;
}

.c-faqs {
  margin: 15px 0;
  padding: 0 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.c-faq {
  font-family: "Varela Round", sans-serif;
  list-style: none;
  margin: 10px 0 5px;
}

.c-faq__title {
  cursor: pointer;
  font-weight: 500;
  background: white;
  z-index: 10;
  position: relative;
  font-size: 1.1em;
}
.c-faq__title:hover {
  text-decoration: underline;
}
.c-faq__title::after {
  white-space: nowrap;
  font-weight: 300;
  padding-left: 5px;
  opacity: 0;
  transform-origin: 11px;
  transform: rotateZ(90deg);
  display: none;
  content: ">";
}

.c-faq--active .c-faq__title {
  color: #1e88e5;
}
.c-faq--active .c-faq__title::after {
  opacity: 1;
  transform: rotateZ(90deg);
  display: inline-block;
}

.c-faq__answer {
  font-weight: normal;
  margin-top: -10%;
  transition: all 0.1s;
  z-index: 1;
  font-size: 0.9em;
  color: #505050;
}

.c-faq--active .c-faq__answer {
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: all 0.2s;
  border-radius: 3px;
  border: 1px solid #f1f2f3;
  border-top: 1px solid #1e88e5;
  padding: 20px;
}

@media (min-width: 780px) {
  .c-faqs {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .c-faqs::before {
    opacity: 0.2;
  }

  .c-faq {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .c-faq .c-faq__title {
    width: 50%;
    padding-right: 40px;
    display: inline-block;
  }
  .c-faq .c-faq__title::after {
    display: none;
  }
  .c-faq .c-faq__answer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    width: 50%;
    border-left-color: #1e88e5;
    border-top-color: #f1f2f3;
  }
}
.c-note {
  font-size: 0.8em;
  padding-left: 15px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.c-note:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.c-note a {
  color: #1e88e5;
}

::-webkit-scrollbar {
  /*width: 17px;*/
  width: 7px;
  background-color: #333333;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

/*** CSS OVERRIDES VOLUNTEER PAGE ON MOBILE ***/

@media (pointer:none), (pointer:coarse), (orientation:portrait) {
	
	/* test */
	.section__headline {
		font-family: "Varela Round", sans-serif;
		font-size: 62px;
		font-weight: light;
		color: #1e88e5;
		padding-left: 15px;
		padding-top: 30px;
	}
	
	.container {
		margin-left: 0 auto;
		margin-right: auto;
		padding-left: 0;
		justify-content: flex-start;
	}
	
    /* grandparent */
	.hero{
		height: 100%;
		width: 100%;
		min-height: 100vh;
		background: linear-gradient(245.59deg, #36393f 0%, #242629 38.53%, #050505 68.52%, #050505 100%);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 2rem;
	}

	/* RIGHT COLUMN */	
	.teamcontent {
		position: fixed;
		overflow: hidden;
		display: flex;
		justify-content: left;
    		align-items: flex-start;
	    	transform: none;
		top: 220px;
        	left: 160px;
		max-height: none;
	}
	
    /* parent */
	.team {
		position: fixed;
        	width: 300px;
		height: 300px;
		border: none;
		border-radius: 0%;
        	top: 100px;
        	left: 0px;
        	justify-content: left;
        	align-items: left;
	}

	/* LEFT COLUMN */
	.team .icon {
		position: fixed;
        	height: 480px;
	        width: 95px;
		display: flex;
        	flex-direction: column;
        	flex-shrink: 0;
        	gap: 15px;
		justify-content: left;
		align-items: left;
		cursor: pointer;
        	flex-wrap: wrap;
        	flex-grow: 0;
        	top: 135px;
        	left: 15px;
		overflow-x: hidden;
        	overflow-y: hidden;
        	direction: rtl;
	}
	
     /* token thumbnail container */
	.team .icon .imgBx {
        	position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transition: 0.5s;
		border: 1px solid #fff;
		box-shadow: 0 0 0 4px #222 0 0 0 6px #fff;
        	transform: none;
        	transform-origin: none;
		z-index: 100;
        	overflow-y: hidden;
        	direction: ltr;
	}
	
    /* thumbnail */
	.team .icon .imgBx img {
		position: relative;
        	top: 0px;
		left: 0px;
        	width: 40px;
		height: 40px;
		border-radius: 50%;
        	object-fit: cover;
		transform: none;
        	transition: 0.5s;
		filter: grayscale(1);
	}
	
	.contentBx {
		position: fixed;
		transform: scale(0);
		transition: 0.5s;
		opacity: 0;
		display: flex;
		justify-content: left;
		align-items: left;
	}

	.contentBx.active {
		transform: scale(1);
		opacity: 1;
		transition-delay: 0.5s;
	}

	.contentBx .card {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 15px;
	}

    /* token conatiner of profile avatar */
	.contentBx .card .imgBx {
		position: relative;
		width: 150px;
		height: 150px;
        	border-radius: 0px;
		overflow: hidden;
	}

    /* profile avatar */
	.contentBx .card .imgBx img {
        	position: relative;
		top: 100;
		left: 100;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
