@font-face {
    font-family: "Farray";
    src: url("olympics/css/FARRAY.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
    background-image: radial-gradient(75% 75% at 50% 25%, rgba(0,0,0,0.7) 0%, rgb(0,0,0,1) 100%);
    font-family: "Farray";
    color: white;
}

header {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    font-size: 1.5em;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 4em;
}

a.button {
    position: relative;
    max-width: 300px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #222;
    color: white;
    gap: 0.25em;
    text-align: center;
}

a.button span.disabled {
    color: #666;
}

a.button p {
    position: absolute;
    top: 0;
    padding-top: 6px;
    font-size: 1.75em;
    transition: transform 0.5s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 0px 2px black);
}

a.button img {
    width: 100%;
    transition: box-shadow 0.25s;
    border-radius: 20px;
}

a.button.olympics p {
    background-image: linear-gradient(#ddd 0%, #ddd 80%, #288ec9);
}

a.button.colosso p {
    background-image: linear-gradient(#ddd 0%, #ddd 80%, #dac449);
}

a.button.olympics:hover p,
a.button.colosso:hover p {
    transform: scale(1.05) translateY(-4px);
}

a.button.olympics:hover img {
    box-shadow: 0px 0px 40px #288ec9;
}

a.button.colosso:hover img {
    box-shadow: 0px 0px 40px #dac449;
}

img.bg {
    position: absolute;
    top: -50vh;
    z-index: -1;
    width: 100vw;
    height: 150vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
    filter: grayscale(1) blur(4px);
}

a.button.olympics:hover ~ img.bg.olympics {
    opacity: 1;
}

a.button.colosso:hover ~ img.bg.colosso {
    opacity: 1;
}

@media (max-width: 800px) {
    main {
        gap: 2em;
    }
    section {
        flex-direction: column;
        gap: 2em;
    }
}

@media (max-width: 400px) {
    section {
        font-size: 0.75em;
    }
}
