/* Card CSS common to teams and games */
.card {
    perspective: 1000px;
}

.card:hover .card-front,
.card.active .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back,
.card.active .card-back {
    transform: rotateY(0deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.75s;
    transform-style: preserve-3d;
}

.card-front {
    background-color: #000;
    padding-bottom: 60px;
    justify-content: flex-end;
    overflow: hidden;
}

.card-front > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-front > h1 {
    font-size: 1.5em;
    color: #fff;
    text-shadow: 4px 4px 3px #000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    padding: 0.5em;
}

.card-back {
    background-color: #ddd;
    color: #111;
    transform: rotateY(180deg);
}
