header {
    font-family: "Farray";
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px) brightness(80%);
}

header a {
    display: inline-block;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border 0.25s ease;
    /* hack for the Farray font to vertically center */
    margin-top: -0.15em;
}

header a:hover {
    border-bottom: 2px solid white;
}

header a.glow {
    margin-top: 0px;
    border: none;
}

header a.glow:hover, header a.glow:hover {
    filter: drop-shadow(0 0 4px white);
}

header div#logo {
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div#logo img {
    display: block;
    margin: 0;
    max-height: 64px;
    aspect-ratio: 1 / 1;
}

header div#logo i.bxs-home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 64px;
    width: 64px;
}

header div#logo div.bar {
    align-self: stretch;
    width: 2px;
}

header div.dropdown {
    position: relative;
    height: 64px;
    margin-right: 0.25em;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

header div.dropdown div.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(-100% - 2px);
    top: 64px;
    transition: opacity 0.5s ease, left 0.5s ease;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px) brightness(80%);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

header div.dropdown:hover div.content {
    left: 0;
}

header.olympics div#logo > a span {
    color: #0028ee;
}

header.colosso div#logo > a span {
    color: #cb9800;
}

header nav {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-right: 2em;
}

#menu, #menu-label {
    display: none;
}

@media (max-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 64px 1fr 1fr;
        justify-items: center;
        padding: 0;
    }

    header div#logo {
        grid-area: 2 / 1 / 2 / span 2;
        justify-self: start;
    }

    #menu-label {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 4rem;
        color: white;
        cursor: pointer;
        transition: all 0.5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: 2;
    }

    header nav {
        height: 128px;
        flex-direction: column;
        grid-area: 1 / 2 / 1 / span 2;
        gap: 0.5em;
        margin-top: -128px;
        transition: all 0.5s ease;
    }

    #menu:checked ~ nav {
        margin-top: 0;
    }

    #menu:checked + label {
        transform: rotateZ(180deg);
    }

    header div.dropdown div.content {
        left: 0;
        top: -128px;
        flex-direction: column-reverse;
        background: none;
        backdrop-filter: none;
    }
}

@media (max-width: 500px) {
    header div#logo a:nth-child(2) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        font-size: 0.75em;
    }
}
