#volunteers-container {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 4em;
    padding-top: 2em;
    max-width: 1200px;
}

div > h1 + hr {
    color: white;
    margin: 0.25em 0 1em 0;
}

.memberlist {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.memberlist .member {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.memberlist .member ra-userpic {
    width: 100px;
}
